<div>
	<h2>
	  <a href="/teams/<%= team.name %>"><%= team.name %></a>
	</h2>
	<p>
	  <%= team.members %>
	</p>
    <a class="delete-team btn btn-danger" href="/teams/<%=team.name%>">Delete</a>
</div>
